﻿html, body {
    height: 100%;
    margin: 0;
}
.panda-wrapper {
    background-color: #D9443F;
    border-width: 8px 0;
    border-style: solid;
    border-color: #000;
    text-align: center;
    overflow: hidden;
    padding: 40px 20px 0;
    font-family: sans-serif;
    height: calc(100% - 56px);
    overflow-y: hidden;
}

#page-404-1 .panda-content {
    padding-top: 100px;
}

.panda-content {
    margin: 0 auto;
    max-width: 100%;
}

header {
    position: relative;
    text-align: center;
    display: inline-block;
}

.logo-pd-404 {
    top: -111px;
    right: -265px;
    width: 289px;
    height: 188px;
    background: url(/Content/img/logo-pd-404.png);
}

.panda-content .logo-pd-404 p {
    color: #d9443f;
    font-size: 65px;
    line-height: 188px;
    font-weight: bold;
}

.dot, .logo-pd-404 {
    position: absolute;
}


    .logo-404-2, .logo-panda img, .logo-pd-404 img {
        max-width: 100%;
        height: auto;
    }
img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


.panda-content h2.title-404 {
    font-size: 80px;
    line-height: 120%;
    max-width: 90%;
    margin: 0 auto 5px;
}
.panda-wrapper h2 {
    font-size: 150px;
    line-height: 100%;
}
.panda-content h2 {
    text-transform: uppercase;
}
.panda-content h2, .panda-content p {
    color: #FFF;
}
.rs, h1.rs, h2.rs, h3.rs, h4.rs, h5.rs, h6.rs {
    margin: 0;
    padding: 0;
}
.flip-clock-label, .flip-clock-wrapper ul li a div div.inn, .panda-maintenance p, h2 {
    font-weight: 400;
    line-height: 120%;
}

.page-404 p {
    width: 90%;
    max-width: 570px;
    margin: 0 auto;
}
.panda-content p {
    font-size: 24px;
}
.panda-content h2, .panda-content p {
    color: #FFF;
}
.rs, h1.rs, h2.rs, h3.rs, h4.rs, h5.rs, h6.rs {
    margin: 0;
    padding: 0;
}
p {
    font-weight: 400;
    line-height: 120%;
}


.panda-bg-arrow {
    background-image: url(../img/bg-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 128px;
    width: auto;
}

#responsivemenu {
    display: none;
}
 

.access-denied {
    background: #D0D1D3;
    height: 100%;
}

.access-denied img {
    border-radius: 50%;
    width: 70%;
}