﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/error-page.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")">
</head>
<body>
<div  class="access-denied">
    <div class="container text-center ">
        <img src="@Url.Content("~/Content/img/panda-face.jpg")"/>
        <h1>Access Denied!</h1>
    </div>
</div>

</body>
</html>
