﻿@{
    Layout = null;
}
@model Common.Models.Error.ErrorModel

<html>

<head>
    <title>

    </title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/error-page.css")">
</head>

<body>
<div id="page-404-1" class="panda-wrapper panda-404">
    <div class="panda-content page-404">
        <header>
            <div class="logo-pd-404">
                <p>@Model.CodeStr</p>
            </div>
            <div class="dot">

            </div>
            <div class="logo-panda"><img src="@Url.Content("~/Content/img/logo-pd.png")" alt="">
            </div>
        </header>
        <h2 class="rs title-404">oh, it’s gone :(</h2>
        <p class="rs">@Model.Text</p>
    </div>
</div>
</body>
</html>

